:root {
  --main-color: #ff5678;
  --secondary-color: #ff304f;
  --heart-size: 20px;
}

body {
  background: #ffccd5;
  font-family: "Apple Chancery", cursive;
  color: var(--main-color);
  text-align: center;
  padding: 20px;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

#scroll-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 204, 213, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2; /* Ensure scroll screen is above the background */
}

#scroll-container {
  position: relative;
  text-align: center;
}

#scroll-image {
  width: 896px;
  height: 1152px;
}

#click-here {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: #000;
  font-weight: bold;
}

#scroll-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  color: #000;
  width: 55%;
  text-align: left;
  line-height: 1.5;
  padding: 20px;
  box-sizing: border-box;
}

#valentine-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensure Valentine's screen is below the scroll screen */
}

.valentine-content {
  position: relative;
  z-index: 2; /* Ensure content is above the GIF */
  text-align: center;
}

.gif-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* Adjust the size as needed */
  height: auto;
  z-index: 1; /* Place the GIF behind the content */
}

.gif-container.visible {
  display: block; /* Show the GIF when this class is added */
}

.container .tenor-gif-embed {
  max-width: 100%; /* Ensure the GIF fits within the container */
}

.container .btn {
  display: flex;
  gap: 25px;
}

.btn a {
  text-decoration: none;
  color: #111;
  background: #fff;
  padding: 10px 25px;
  border-radius: 8px;
  box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
}